MONGO_URL=YOUR_VALUE_HERE
DB_NAME=YOUR_VALUE_HERE
JWT_SECRET=YOUR_VALUE_HERE
CLOUDINARY_CLOUD_NAME=YOUR_VALUE_HERE
CLOUDINARY_API_KEY=YOUR_VALUE_HERE
CLOUDINARY_API_SECRET=YOUR_VALUE_HERE
VIDEO_MAX_SIZE_MB=YOUR_VALUE_HERE
IMAGE_MAX_SIZE_MB=YOUR_VALUE_HERE
# Resend (transactional email)
RESEND_API_KEY=YOUR_VALUE_HERE
RESEND_FROM=CKD <info@ckdindia.com>
